.home-container {
    text-align: center;
    padding-top: 100px; /* Adjusted to account for the fixed navbar */
  }
  
  .home-main {
    display: flex;
    justify-content: space-evenly;
    margin-top: 10rem;
  }

   .HeroImg{
    margin-top: 48px;
    background-size: cover;
    height: 600px;
    width: 1448px;
  }

  .home-main {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 3cm;
    margin-right: 3cm;
  } 

  
  .info-cards {
    display: flex;
    gap: 1cm;
  }
  
  .info-card {
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.2s, box-shadow 0.2s;
    backdrop-filter: blur(5px);
  }
  
  .info-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
  
  .info-card img {
    width: 300px;
    height: 200px;
    object-fit: cover;
    margin-bottom: 10px;
  }
  
  .info-card p {
    margin: 10px 0;
    font-size: 18px;
  }
  
  .info-button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.3s;
  }
  
  .info-button:hover {
    background-color: #45a049;
    transform: scale(1.05);
  }