.photo{
  height: 20px;
}
  .HeroImg{
    background-color: #222C64;
    height: 290px;
    width: 1280px;
    border-radius: 30px;
    margin: 10px;
    display: flex;
    justify-content: center;
    font-size: 40px;
    color: white;
    font-family: monospace;
    color: aliceblue; 
  }

  .quote{
    margin-top: 10px;
    margin-right: 100px;
  }

  b{
    font-size: 50px;
    font-family: monospace;
    font-weight: 600;
  }

  .BoxContainer{
    display: flex;
    justify-content: space-around;
  } 

    .Box {
      width: 400px;
      height: 255px;
      background-color: #ff9cc5;
      border-radius: 20px;
      display: flex;
      margin: 4px;
      margin-top: 0px;
      font-size: 2px;
  }

.icon{
  display: flex;
  align-items: end;
}

  .box1{
    margin-left: 10px;
    background-color: #FFAEBC;
    font-family: monospace;
      font-size: 22px;
      font-weight: 900;
      color: #192255;
      display: flex;
      justify-content: center;
      padding: 20px 20px 10px 20px;
      border: #e98495 solid 4px;
  }

  .box1 .icon{
    color : #e98495;
  }

  .box2{
    background-color: #A0E7E5;
    font-family: monospace;
      font-size: 22px;
      font-weight: 900;
      color: #192255;
      display: flex;
      justify-content: center;
      padding: 20px 20px 10px 20px;
      border: #85c0be solid 4px;
  }

  .box2 .icon{
    color : #85c0be;
  }


  .box3{
    background-color: #B4F8C8;
    font-family: monospace;
      font-size: 22px;
      font-weight: 900;
      color: #192255;
      display: flex;
      justify-content: center;
      padding: 20px 20px 10px 20px;
      border: #7dd397 solid 4px;
  }

  .box3 .icon{
    color : #7dd397;
  }

  .box4{
    background-color: #FBE7C6;
    font-family: monospace;
      font-size: 22px;
      font-weight: 900;
      color: #192255;
      display: flex;
      justify-content: center;
      padding: 20px 18px 10px 20px;
      border: #ebd0a8 solid 4px;
      
  }

  .box4 .icon{
    color : #ebd0a8;
  }

  .Box:hover{
    transform: scale(1.01);
  }
  
.HomeP{
  margin-top: 100px;
}

  .Home2{
    text-align: center;

  }

  .HomeCircle{
    height: 170px;
    width: 170px;
    border-radius: 50%;
    background-color:#85c0be;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
  }

  .HomeCircles{
    display: flex;
    justify-content: space-evenly;
    margin-top: 100px;
  }

  .HomeQuotes{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    margin-left: 70px;
    font-size: 18px;
    margin-bottom: 100px;
    font-weight: 600;
  }

 .Home2 h2{
  background-color: #8de2a6;
  border-radius: 20px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
 }
 