

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #DCDBE0; 
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  border-radius: 30px;
  margin: 10px 10px 0px 10px;
}

.navbar-left .logo {
  height: 60px;
  margin-left: 20px;
}

.navbar-center {
  display: flex;
  justify-content: center;
  flex: 1;
}

.navbar-center .nav-link {
  margin: 0 15px;
  color: #000;
  font-weight: 700;
  text-decoration: none;
  font-size: 18px;
  transition: color 0.3s;
}

.navbar-center .nav-link:hover {
  color: #007bff;
}

.navbar-right .appointment-btn {
  padding: 6px 20px;
  font-size: 18px;
  background-color:#0056b3 ;
  color: #fff;
  border: none;
  border-radius: 14px;
  cursor: pointer;
  transition: background-color 0.3s;
  
}

.navbar-right .appointment-btn:hover {
  background-color: #0c4b8f;
}

/* LoginButton.css */
.login-button {
  display: flex;
  align-items: center;
  background-color: #cfc9e9;
  color: black;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 16px;
  margin-right: 4px;
}

.login-button:hover {
  background-color: #bcb2e6;
}

.login-icon {
  margin-right: 8px;
}
